shared-workspace-lockfile=false
MONOREPO=true
# Whether to automatically link workspace packages on an `pnpm i`
# Disable this, run `pnpm i` to create lockfiles suitable for pushing submodules to remotes.
link-workspace-packages=true
# Set this to false to `pnpm i` and force pnpm to switch from linked packages or remote packges or vise versa
prefer-frozen-lockfile=true
