shared-workspace-lockfile=false
MONOREPO=true
# Whether to automatically link workspace packages on an `pnpm install`
# Disable this, run `pnpm install` to create lockfiles suitable for pushing submodules to remotes.
link-workspace-packages=true
